<div class="about site-wrapper" id="about">

  <div class="site-wrapper-inner">

    <div class="container">

      <div class="inner cover mt-md-3">
        <h1 class="mb-md-5">
          About Jack
        </h1>
        <div class="img-container my-md-4">
          <img src="http://i.imgur.com/Vp0EwEll.jpg">
        </div>
        <div class="description mt-md-5">
          <p>
            Jack is a Gen-Y problem solver. He loves to deal with various kind of challenges, and see them get defeated.
          </p>
          <p>
            Jack believes that there are multiple solutions to a problem and there is no right nor wrong.
          </p>
          <p>
            Jack truly believes doing the right thing at the right time is the key to solving problems.
          </p>
        </div>
      </div>
    </div>

  </div>

</div>

