<div class="career-journey site-wrapper" id="career-journey">

  <div class="site-wrapper-inner">

    <div class="container">

      <div class="inner cover">
        <!DOCTYPE html>
        <html lang="en" class="no-js">
        	<head>
        		<meta charset="UTF-8" />
        		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        	</head>
        	<body>
        		<div class="container">
        			<header class="clearfix">

        				<h1>Jack's Career Journey</h1>

        			</header>
        			<div class="main">
        				<ul class="cbp_tmtimeline">
        					<li>
        						<time class="cbp_tmtime" datetime="2017-01-10 18:30"><span></span> <span>2011</span></time>
        						<div class="cbp_tmicon cbp_tmicon-phone"><img src="http://i.imgur.com/52Bl7de.png" class="img-responsive" width="40px"></div>
        						<div class="cbp_tmlabel">
        							<h2>Purdue University @ West Lafayette</h2>
        							<p>Major in Computing & Information Systems</p>
                      <p>Minor in Management</p>
        						</div>
        					</li>
        					<li>
        						<time class="cbp_tmtime" datetime="2017-01-11T12:01"><span></span> <span>2014 July</span></time>
        						<div class="cbp_tmicon cbp_tmicon-screen"><img src="http://i.imgur.com/ZyMvSPG.png" class="img-responsive" width="40px"></div>
        						<div class="cbp_tmlabel">
        							<h2>Software Engineer @ Booster</h2>
                      <p>Ruby on Rails</p>
                      <p>TDD and BDD with Rspec, Capybara, Konacha and etc.</p>
                      <p>Agile via Scrum & Kanban</p>
        						</div>
        					</li>
        					<li>
        						<time class="cbp_tmtime" datetime="2017-01-17 05:36"><span></span> <span>2017 July</span></time>
        						<div class="cbp_tmicon cbp_tmicon-mail"><img src="http://i.imgur.com/bMfxXFd.png" class="img-responsive" width="40px"></div>
        						<div class="cbp_tmlabel">
        							<h2>Senior Software Engineer @ Fave Malaysia</h2>
        						</div>
        					</li>
        				</ul>
        			</div>
        		</div>
        	</body>
        </html>

      </div>
    </div>

  </div>

</div>

