<div class="contact site-wrapper" id="contact">

  <div class="site-wrapper-inner">

    <div class="container">

      <div class="inner cover">
        <h1>
          Get In Touch
        </h1>

        <div class="mt-5">
          <%= form_for :contact_me, url: "/contact_me", method: :get, remote: true do |f| %>

          <div class="row">
            <div class="col-md-6 name-input-container">
              <%= f.text_field :name, placeholder: "NAME" %>
            </div>
            <div class="col-md-6">
              <%= f.email_field :from_email, placeholder: "EMAIL" %>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-12">
              <%= f.label :message %>
              <%= f.text_area :message %>
            </div>
          </div>

            <%= f.submit "Send Message", class: "mt-4" %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
