<div class="home site-wrapper" id="home">

  <div class="site-wrapper-inner">

    <div class="container">

      <div class="masthead clearfix">
        <div class="container inner">
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a class="navi" href="#home">Home</a></li>
              <li><a class="navi" href="#about">About</a></li>
              <li><a class="navi" href="#career-journey">Career Journey</a></li>
              <li><a class="navi" href="#contact">Contact</a></li>
              <li class="your-card-desktop hide-for-mobile">
                <a href="#your-card" data-toggle="modal" data-target="#myModal">Your Secret Card</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <%= render "your_card" %>

      <div class="inner cover">
        <h1 class="cover-heading mb-md-5">Jack Wong</h1>
        <p class="lead">Being a curious person, I seek new technologies and strive to contribute my skills, experience and thoughts to
change the world, from worst to worse, good to better. "Everything goes back to the earth."</p>
        <p class="lead mt-md-4">
          <%= link_to "Download Resume", download_resume_path, class:"btn btn-lg btn-default", target: :_blank %>
        </p>
      </div>

      <a class="btn btn-lg btn-default your-card-button hide-for-desktop">unlock my swag</a>
      <div class="your-card-mobile hide-for-desktop">
        <a href="#your-card" data-toggle="modal" data-target="#myModal">Your Secret Card</a>
      </div>
    </div>

  </div>

</div>
