.about {
  background-color: white;
  color: black;

  img {
    border-radius: 25%;
    width: 200px;
  }

  @media (max-width: 575px) {
    .site-wrapper-inner > .container {
      margin-top: 80px;
    }

    h1 {
      margin-bottom: 2rem;
    }

    .description {
      margin-top: 2.5rem;
    }
  }
}
