.your-card-mobile {
  margin-top: 10px;

  a {
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75);
  }

  opacity: 0;
  visibility: hidden;
}

.your-card-button {
  color: black !important;
  padding: 10px;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.card-img {
  width: 100%;
}

.disappear {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s linear,
  opacity 0.3s linear;
  -moz-transition: visibility 0.3s linear,
  opacity 0.3s linear;
  -o-transition: visibility 0.3s linear,
  opacity 0.3s linear;
}

.appear {
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0.5s linear,
  opacity 0.5s linear;
  -moz-transition: visibility 0.5s linear,
  opacity 0.5s linear;
  -o-transition: visibility 0.5s linear,
  opacity 0.5s linear;
}

.card-modal {
  .modal-title {
    color: black;
    margin-left: auto;
    margin-right: auto;
  }
}