.career-journey {
  background-color: #333;

  @media (max-width: 575px) {
    .main {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .site-wrapper-inner > .container {
      margin-top: 0;
    }
  }
}
