.contact {
  background-color: white;
  color: black;

  input {
    border: 0;
    border-bottom: 1px solid #b2b2b2;
    width: 100%;
  }

  input[type="submit"] {
    color: rgba(0,0,0, 0.55);
    cursor: pointer;
    background: white;
    padding: 12px 30px;
    border: 1px solid #b2b2b2;
    width: 200px;

    &:disabled {
      cursor: default;
    }
  }

  textarea {
    border: 1px solid #b2b2b2;
    min-height: 150px;
    width: 100%;
  }

  label {
    color: rgba(0,0,0, 0.55);
    float: left;
    text-transform: uppercase;
    text-shadow: none;
  }

  .name-input-container {
    margin-bottom: 20px;
  }

  @media (max-width: 575px) {
    .site-wrapper-inner > .container {
      margin-top: 6rem;
    }
  }
}
