.career-journey {
  @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
  @font-face {
  	font-family: 'ecoico';
  	src:url('../fonts/timelineicons/ecoico.eot');
  	src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/timelineicons/ecoico.woff') format('woff'),
  		url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
  		url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
  	font-weight: normal;
  	font-style: normal;
  } /* Made with http://icomoon.io/ */

  .cbp_tmtimeline {
  	margin: 30px 0 0 0;
  	padding: 0;
  	list-style: none;
  	position: relative;
  }

  /* The line */
  .cbp_tmtimeline:before {
  	content: '';
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	width: 10px;
  	background:#FFF;
  	left: 20%;
  	margin-left: -10px;
  }

  /* The date/time */
  .cbp_tmtimeline > li .cbp_tmtime {
  	display: block;
  	width: 25%;
  	padding-right: 100px;
  	position: absolute;
  }

  .cbp_tmtimeline > li .cbp_tmtime span {
  	display: block;
  	text-align: right;
  }

  .cbp_tmtimeline > li .cbp_tmtime span:first-child {
  	font-size: 0.9em;
  	color: #FFF;
  }

  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
  	font-size: 2.9em;
  	color: #FFF;
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  	color: #FFF;
  }

  /* Right content */
  .cbp_tmtimeline > li .cbp_tmlabel {
  	border: 3px solid #FFF;
  	margin: 0 0 15px 25%;
  	color: #333;
  	padding: 2em;
  	font-size: 1.2em;
  	font-weight: 300;
  	line-height: 1.4;
  	position: relative;
  	border-radius:80px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+86,ededed+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 86%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 86%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,1) 86%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
    -webkit-box-shadow: 13px 0px 19px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 13px 0px 19px 0px rgba(0,0,0,0.17);
    box-shadow: 13px 0px 19px 0px rgba(0,0,0,0.17);

    p {
      margin-bottom: 0;
    }
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  	background: #6cbfee;
  }

  .cbp_tmtimeline > li .cbp_tmlabel h2 {
  	margin-top: 0px;
  	padding: 0 0 10px 0;
  }

  /* The triangle */
  /*.cbp_tmtimeline > li .cbp_tmlabel:after {
  	right: 100%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-right-color: #3594cb;
  	border-width: 10px;
  	top: 10px;
  }*/

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  	border-right-color: #6cbfee;
  }

  /* The icons */
  .cbp_tmtimeline > li .cbp_tmicon {
  	width: 40px;
  	height: 40px;
  	font-family: 'ecoico';
  	speak: none;
  	font-style: normal;
  	font-weight: normal;
  	font-variant: normal;
  	text-transform: none;
  	font-size: 1.4em;
  	line-height: 40px;
  	-webkit-font-smoothing: antialiased;
  	position:relative;
  	color: #fff;
  	background: white;
  	border-radius: 50%;
  	box-shadow: 0 0 0 8px #FFF;
  	text-align: center;
  	left: 20%;
  	top: 0;
  	margin: 0 0 0 -25px;

    img {
      margin-bottom: 0.2rem;
      width: 32px;
    }
  }

  /* Example Media Queries */
  @media screen and (max-width: 65.375em) {

  	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  		font-size: 1.5em;
  	}
  }

  @media screen and (max-width: 47.2em) {
  	.cbp_tmtimeline:before {
  		display: none;
  	}

  	.cbp_tmtimeline > li .cbp_tmtime {
  		width: 100%;
  		position: relative;
  		padding: 0 0 20px 0;
  	}

  	.cbp_tmtimeline > li .cbp_tmtime span {
  		text-align: left;
  	}

  	.cbp_tmtimeline > li .cbp_tmlabel {
  		margin: 0 0 30px 0;
  		padding: 1em;
  		font-weight: 400;
  		font-size: 95%;
  	}

  	.cbp_tmtimeline > li .cbp_tmlabel:after {
  		right: auto;
  		left: 20px;
  		border-right-color: transparent;
  		border-bottom-color: #3594cb;
  		top: -20px;
  	}

  	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  		border-right-color: transparent;
  		border-bottom-color: #6cbfee;
  	}

  	.cbp_tmtimeline > li .cbp_tmicon {
  		position: relative;
  		float: right;
  		left: auto;
  		margin: -55px 5px 0 0px;
  	}
  }











  /* General Blueprint Style */
  @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
  @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
  @font-face {
  	font-family: 'fontawesome';
  	src:url('../fonts/fontawesome.eot');
  	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
  		url('../fonts/fontawesome.woff') format('woff'),
  		url('../fonts/fontawesome.ttf') format('truetype');
  	font-weight: normal;
  	font-style: normal;
  }

  *, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  body, html { font-size: 100%; padding: 0; margin: 0;
  background-image:url(http://traveldilse.com/wp-content/uploads/2014/07/blurred-background-81.jpg);
  background-attachment:fixed;
  background-size:cover;
  }

  /* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
  .clearfix:before, .clearfix:after { content: " "; display: table; }
  .clearfix:after { clear: both; }

  body {
      font-family: 'Roboto', sans-serif;
      color: #47a3da;
  }

  a {
  	color: #f0f0f0;
  	text-decoration: none;
  }

  a:hover {
  	color: #000;
  }

  .main,
  .container > header {
  	width: 95%;
  	max-width: 69em;
  	margin: 0 auto;
  	padding: 0 1.875em 3.125em;
  }

  .container > header {
  	padding: 2.875em 1.875em 1.875em;
  }

  .container > header h1 {
  	font-size: 2.125em;
  	line-height: 1.3;
  	margin: 0;
  	float: left;
  	font-weight: 400;
  	    color: #FFF;
  }

  .container > header span {
  	display: block;
  	font-weight: 700;
  	text-transform: uppercase;
  	letter-spacing: 0.5em;
  	padding: 0 0 0.6em 0.1em;
  }

  .container > header nav {
  	float: right;
  }

  .container > header nav a {
  	display: block;
  	float: left;
  	position: relative;
  	width: 2.5em;
  	height: 2.5em;
  	background: #fff;
  	border-radius: 50%;
  	color: transparent;
  	margin: 0 0.1em;
  	border: 4px solid #47a3da;
  	text-indent: -8000px;
  }

  .container > header nav a:after {
  	content: attr(data-info);
  	color: #47a3da;
  	position: absolute;
  	width: 600%;
  	top: 120%;
  	text-align: right;
  	right: 0;
  	opacity: 0;
  	pointer-events: none;
  }

  .container > header nav a:hover:after {
  	opacity: 1;
  }

  .container > header nav a:hover {
  	background: #47a3da;
  }

  .icon-drop:before,
  .icon-arrow-left:before {
  	font-family: 'fontawesome';
  	position: absolute;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	speak: none;
  	font-style: normal;
  	font-weight: normal;
  	line-height: 2;
  	text-align: center;
  	color: #47a3da;
  	-webkit-font-smoothing: antialiased;
  	text-indent: 8000px;
  	padding-left: 8px;
  }

  .container > header nav a:hover:before {
  	color: #fff;
  }

  .icon-drop:before {
  	content: "\e000";
  }

  .icon-arrow-left:before {
  	content: "\f060";
  }
}